* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.parallax {
  width: 100%;
  height: 150vh;

  background: url("./pyramid.jpg");
  background-size: cover;
  position: relative;
}

.masking-div {
  -webkit-mask: url("./pyrmaid-mask-3.svg");
  -webkit-mask-size: cover;

  width: 100%;
  height: 100%;
}

.headline {
  font-size: 350px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  position: fixed;
  top: 20vh;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.camping-parallax {
  background: url("./malik-skydsgaard-VNyyNpfja70-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300vh;
  /* width: 70vw; */
  position: relative;
  margin: 0 auto;
}
.camping-mask {
  width: 100%;
  height: 100%;

  -webkit-mask: url("./camping-mask-2.svg");
  -webkit-mask-size: cover;
  -webkit-mask-position: 50% -200%;
}
.camping-mask span {
  color: brown;

  display: block;
  font-size: 150px;
  text-align: center;

  position: sticky;
  top: 1vh;
}

.content {
  width: 100%;
  height: 200vh;
}
